page-topnew {



    
    img.thumb-img {
        padding-top: 4px;
        margin: auto;
        width: 99px;
        height: 86px;
        object-fit: cover;
    }
    .card-md h3, .card-md h4, .card-md h5, .card-md h6 {
        margin: 6px 5px;
        font-size: 1.3rem;
        font-weight: normal;
        color: #222;
        text-align: left;
    }
    .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
        margin: 0px 16px 8px 0;
    }


}
