page-topnew {
    img.thumb-img {
        margin: auto;
        width: 160px;
        height: 80px;
        object-fit: cover;
    }
    .card-md h3, .card-md h4, .card-md h5, .card-md h6 {
        margin: 2px 0;
        font-size: 1.4rem;
        font-weight: bold;
        color: #222;
        text-align: left;
    }
    .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
        margin: 0px 16px 8px 0;
    }

}
