img.thumb-img {
    width: 170px;
    object-fit: cover;
    height: 113px;
}
.card-md {
    margin: 1px;
    border-radius: 2px;
    width: 100%;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card-md h3, .card-md h4, .card-md h5, .card-md h6 {
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #222;
}