
$backgroud: rgba(158, 158, 158, 0.31);
$bg-list-header:linear-gradient(120deg, #155799, #159957);
page-home {
  ion-card.card.card-md {
    margin: 5px 0px 5px 0px;
    width: 100%;
    
  }
  
  .plays-button{
    opacity: 1.2;
    margin: 0;
    width: 25%;
    height: 8%;
    background-color: rgba(158, 158, 158, 0.8);
    border-color: white;
    border-style: solid;
    /* border-width: 1px; */
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 0 0 12px;
  }
  ion-list-header.item.item-md.list-header.list-header-md {
    color: white;
    background-image:$bg-list-header;
    margin-top: 10px;
    margin-bottom: 5px;
   
  }
  .video-yt{
     height: 100%;

  }
  
  .content-md {
    color: #000;
    background-color:$backgroud;
}
  button.button-md{
    font-size: 1rem;
    text-transform: unset;
    padding: 0;
  }
  .col{
    padding: 0;
  }
  .item-md h2 {
    font-weight: 600;}
    ion-label.label.label-md {
      white-space: unset;
      
    }
  // Card header  
  ion-list.list.list-md{
    margin-bottom: 0px;
    display: inherit;
    

  }  
  img.img1 {
    object-fit: fill;
    margin: auto;
    
    ;
  } 
  .list.list1 {
    width: 100%;
    position: relative;
    padding-bottom: 5px;}
    .title-content{
      position: absolute;
      margin: 0;
      bottom: 10px;
    }
  .title-h2{
   
    text-align: left;
    color: white;
    margin-left: 4px;
  }
 .card-title{
    position: absolute;
    top: 139px;
    text-align: left;
    padding-left: 5px;
    color: white;
  }
  .scroll-content {
    padding: 0 !important;
    overflow-x: unset;
    overflow-y: scroll;
  }
  .swiper-container{
    height: auto;
  }
  ion-slide{
    padding: 10px;
  }
  .swiper-slide{
    align-items: unset;
  }
 
  ion-icon.icon.icon-md.ion-md-settings {
  color: #FFFFFF;}
  ion-icon.icon.icon-md.ion-md-search {
    color: #FFFFFF;}
  ion-icon.icon.icon-md.ion-md-menu {
      color: #FFFFFF;
  }
  $num-of-tabs: 5;
  
   @mixin tabs {
     @for $i from 1 through $num-of-tabs {
       &:nth-of-type(#{$i}) {
         &.segment-activated {
           ~ .slide {
             left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
           }
         }
       }
     }
   }
  
   ion-segment {
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    ion-segment-button.segment-button {
        display: inline-block;
        min-width: 100px;
        width: auto;
    }
}
  
   .slide {
     background: dodgerblue;
     width: calc(100% / #{$num-of-tabs});
     height: 4px;
     position: absolute;
     left: 0;
     top: calc(100% - 4px);
     transition: left 0.3s ease-out;
   }
   ion-segment {
    background-image: linear-gradient(120deg, #155799, #159957);
   }
   .segment-md-xanh .segment-button.activated, .segment-md-xanh .segment-button.segment-activated {
    border-color: #FFFFFF;
    color: #fff;
    opacity: 1;}

}   
