page-home {
    ion-icon.icon.icon-md.ion-md-settings {
    color: #8BC34A;}
    ion-icon.icon.icon-md.ion-md-search {
      color: #8BC34A;}
    ion-icon.icon.icon-md.ion-md-menu {
        color: #8BC34A;
    }
}


ion-title.title.title-ios {
  
  padding-left: 0px;}


.title{
	color:whitle !important
}