<ion-header>       
  <ion-navbar color="ybai">
    <button *ngIf="!toggled" ion-button menuToggle>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title *ngIf="!toggled">
      TODAY TOUCH
    </ion-title>
    <ion-searchbar *ngIf="toggled" [(ngModel)]="searchTerm" [showCancelButton]="true" (ionCancel)="toggleSearch()"  (ionInput)="triggerInput($event)"></ion-searchbar>

    <ion-buttons end *ngIf="!toggled">
      <button ion-button icon-only (click)="toggleSearch()"><ion-icon name="search"></ion-icon></button>
      <button ion-button icon-only (click)="openNavSettingPage(item)"><ion-icon name="settings"></ion-icon></button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>


<ion-content padding id="page1" class="padding-0"   >
    
    <div class="div-backround" id="display" ng-if="toggled" (click)="toggleSearch()"> 
      </div>
      <ion-list *ngIf="isGroupShown(i)" (click)="openSubCat($event,category)" class="list-search">
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list>



    <ion-segment  color="xanh" [(ngModel)]="tabs" >
      <ion-segment-button (click)="selectTab(0)"
                          value="0"> TOP NEWS
                        </ion-segment-button>
      <ion-segment-button (click)="selectTab(1)"
                        value="1">BRIEFS
                        </ion-segment-button>
      <!-- <ion-segment-button (click)="selectTab(2)"
                          value="2">VIDEOS
                        </ion-segment-button> -->
      <ion-segment-button (click)="selectTab(3)"
                        value="2">TRENDING
                        </ion-segment-button>
      <ion-segment-button (click)="selectTab(4)"
                        value="3">LATEST
                        </ion-segment-button>
    
  </ion-segment>

<ion-slides #pageSlider (ionSlideWillChange)="changeWillSlide($event)">
    <!-- Top-new -->
       <ion-slide pager="true" class="" >
          <page-topnew></page-topnew>
       </ion-slide>
      <!-- Top news Feed end -->
      <!-- Briefs begin -->
       <ion-slide>
        <briefs></briefs>
       </ion-slide>
    <!--Briefs end tab  -->
    <!-- <ion-slide>
      <page-video></page-video>
     </ion-slide> -->
    <!-- Slide 3 begin tab -->
       <ion-slide>
          <trending></trending>
       </ion-slide>
    <!-- Slide 3 end tab -->
       <ion-slide        >
        <page-latest></page-latest>
        </ion-slide>
          <!-- End Slide-Content -->
     </ion-slides>
</ion-content>

