// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background-md {
    
    background-image: linear-gradient(120deg, #2479CE, #1AABBA);
    }
    .toolbar-title-md{
      color: #ffffff;
    }


.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}
button.item.item-block.item-md {
    opacity: 0.7;
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(149, 171, 203, -2.92);
    border-color: rgba(255, 255, 255, -3.8);
}
.content-menu-background {
    background-image: linear-gradient(120deg, #2479CE, #1AABBA);
}
.sub-menu {
    padding-left: 25px;
}