<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>TODAY TOUCH</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
<!-- Trang chủ -->
        <button menuClose ion-item *ngFor="let h of homes" (click)="openPage(h)" icon-start>
            <ion-icon name="home"></ion-icon>  
            Home
          </button>
<!-- Trang chủ end -->
<!-- Cẩm nang menu -->
        <button ion-item (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" icon-start>
            <ion-icon name="book"></ion-icon>  
            Handbook
          </button>
          <ion-list  *ngIf="isGroupShown(i)" (click)="openSubCat($event,category)">
              <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" icon-start>
              {{p.title}}
              </button>
            </ion-list>
<!--Cẩm nang end  -->
<!-- Công nghệ menu -->
        <button ion-item (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}" icon-start>
          <ion-icon name="git-branch"></ion-icon>  
          Technology
        </button>
        <ion-list  *ngIf="isGroupShown2(i)" (click)="openSubCat($event,category)">
            <button menuClose ion-item *ngFor="let c of congnghe" (click)="openPage(c)" icon-start>
              {{c.title}}
            </button>
          </ion-list>
<!-- Công nghệ end -->
<!-- Video -->
      <button menuClose ion-item *ngFor="let v of video" (click)="openPage(v)" icon-start>
        <ion-icon name="youtube"></ion-icon>  
        Video
      </button>
<!-- End-Video -->
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>