.label-setting{
    background-image: linear-gradient(120deg, #2479CE, #1AABBA);

}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
    background-color: transparent;
}