.label-setting{
    background-image: linear-gradient(120deg, #2479CE, #1AABBA);
<<<<<<< HEAD
=======
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
    background-color: transparent;
>>>>>>> 79e83d89aba69445853c5dcf977832529dbaa710
}