button.disable-hover.button.button-md.button-default.button-default-md.button-md-secondary {
    width: 100%;
    margin: auto;
}
.button-md-secondary {
    color: #fff;
    background-image: linear-gradient(120deg, #155799, #159957);
}
.h6-details {
    padding-top: 15px;
}
.h6-youmayalsolike {
    padding-top: 19px;
}
.button-detail {
    color: #fff;
    opacity: 1;
}
.card-md p {
    text-align: left;
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
    margin-left: 6px;
}