<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Detail</ion-title>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon class="button-detail" name="bookmark"></ion-icon>
        </button>
        <button ion-button icon-only>
          <ion-icon class="button-detail" name="md-share"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <img  src="./assets/images/samsung.jpg">
    <h2  style="font-weight: bold">Samsung Galaxy S8 review:The most beautiful phone ever has one wildly annoying issue</h2>
    <h5>The Samsung Galaxy S8 is without a doubt the most beautiful, polished phone I've ever held. These words were true when I first reviewed it in April, and are still true a month on. I do have some additional insights since then -- scroll down a bit for those.</h5>
    <p>OK, so the S8 is pretty. But it's also the most important Samsung phone right now, at least until the Galaxy Note 8 comes along. It's been helping restore buyers' confidence after the double Note 7 battery disaster (the S8's apparently selling like hotcakes), and it's a chance to cement the Samsung name as the top Android brand against upcoming rivals: the pure Android Google "Pixel 2," squeezable HTC U11 and cut-price OnePlus 5. It helps that soon, you'll be able to use the Galaxy S8 in Google's Daydream headset.
      
      What makes the Galaxy S8 so special is this: A tall, narrow shape that fits snugly in my palm and curved sides that scream "classy." And the screen? 5.8 inches of colorful gorgeousness with a display that stretches from edge to edge with just a whisper of a bezel. For its looks alone, Samsung's flashiest phone lands at the top of the class. Trust me, when you see the S8 and larger, pricier S8 Plus, you're gonna want to put your hands all over them.
      
      I did everything with these two phones at home, in the office, around town and at the beach. I took scores of photos and videos, watched tons of YouTube and Netflix movies, chatted my fingers off. I sat on them in my back pocket (no Bendgate yet). I've unlocked these things 100 times in four different ways (fingerprint, eyes, face, PIN). So I'm confident pointing out the S8's problems -- because, let's be real, there's always something.</p>
    <ion-card>
      <img src="./assets/images/samsung2.jpg">
    </ion-card>
    <p>In this case, I can boil it down to the awkwardly placed fingerprint reader -- you will curse this -- and the still-up-in-the-air Bixby AI software, which combines Siri, Google Now and a camera add-on. (Samsung's Siri-like Bixby Voice tool is live in South Korea, but nowhere else and I use the rest of the Bixby features... never.) Also, while photo quality is great, it's weird to me that Samsung, usually so on top of trends, opted for one camera lens on the back instead of two.
      
      </p>

      <h6 class="h6-details ">THIS ARTICLE HAS 33 COMMENTS</h6>

      <button ion-button color="secondary" (click)="openNavCommentPage(item)">ADD A COMMENTS</button>
      <h6 class=".h6-youmayalsolike ">You may also like!</h6>
      <ion-row>
        <ion-col>
          <ion-card *ngFor="let img of news">    
                  <img src="assets/images/{{img.img}}"/>
                  <h3>{{img.title}}</h3>
              </ion-card>
        </ion-col>
        <ion-col>
            <ion-card *ngFor="let img of news">    
                    <img src="assets/images/{{img.img}}" />
                    <h3>{{img.title}}</h3>
                </ion-card>
          </ion-col>
      </ion-row>
  </ion-content>
    