button.disable-hover.button.button-md.button-default.button-default-md.button-md-secondary {
    width: 100%;
    margin: auto;
}
.button-md-secondary {
    color: #fff;
    background-image: linear-gradient(120deg, #155799, #159957);
}
.h6-details {
    padding-top: 15px;
}
.h6-youmayalsolike {
    padding-top: 19px;
}