input[type="text"] {
    width: 90%;
    padding: 33px 20px;
    margin: 17px 17px;
    box-sizing: border-box;
}
button.disable-hover.button.button-md.button-default.button-default-md.button-md-secondary {
    width: 96%;
    margin-left: 7px;
}