input[type="text"] {
    width: 90%;
    padding: 33px 20px;
    margin: 18px 18px;
    box-sizing: border-box;
    height: 84px;
    border-bottom-width: 2px;
    padding-top: 0px;
    margin-top: 23px;
    margin-bottom: 20px;
}
button.disable-hover.button.button-md.button-default.button-default-md.button-md-secondary {
    width: 100%;
    margin: auto;
}
.list-md {
    padding-top: 8px;
    margin: -1px 0 16px;
}